cst/yagi_uda_antenna_38ghz/Model/
cst/yagi_uda_antenna_38ghz/ModelCache/
cst/yagi_uda_antenna_38ghz/Result/
cst/yagi_uda_antenna_38ghz/SP/
cst/yagi_uda_antenna_38ghz/Temp/

*.bak
*.temp
*.lock
*.log

.DS_Store
Thumbs.db